<% layout('layouts/boilerplate') %>

    <h3 class="text-center">Sign In</h3>
    <form action="/login" method="POST" class="form needs-validation" novalidate>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" required class="form-control">
            <div class="valid-feedback">
                Username looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid username.
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" required class="form-control">
            <div class="valid-feedback">
                Password looks good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid password.
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
